:root {
    --primary-color: #000085;
    --secondary-color: #0000f7;
    --secondary-hover: #b0b0ff;
    --somecolor: #000000;
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-size-base: 16px;
    --spacing-unit: 8px;
}

nav, footer {
    background-color: var(--primary-color);
    color:#ffffff;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: var(--secondary-hover);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #ffffff;
    border-color: transparent;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.navbar-toggler {
    border :none;
    box-shadow: none;
}

.bg-img {
    /* background-image: url(../images/angelo-abear-knTKij60p3g-unsplash.jpg); */
    min-height: 90vh;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: linear-gradient(var(--primary-color), #6c2bad4d, var(--primary-color)),
    radial-gradient(circle 700px at 20% 30%, #000085, #000000);
    radial-gradient(circle 500px at 80% 70%, #3535bc, #000000);


    /* background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5); */
}

/* .bg-img {
  background-image: url(../images/jeremy-bishop-G9i_plbfDgk-unsplash.jpg);
  min-height: 90vh;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: linear-gradient(var(--primary), #6c2bad4d, var(--primary)),
  radial-gradient(circle 700px at 20% 30%, rgba(255, 0, 179, 0.734), transparent),
  radial-gradient(circle 500px at 80% 70%, rgba(255, 0, 179, 0.533), transparent);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.461);
} */

body {
    background-color: var(--primary-color);
}

.bg-translucent {
    background-color: #00000063;
}

textarea {
    resize: none;
}

form a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

form a:hover {
    color: var(--secondary-hover);
}